@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 750px;
    background: url(../img/hero-bg.jpg)no-repeat;
    position: relative;
}

.menu {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 48px;
}

header h1 {
    color: black;
    font-size: 60px;
    line-height: 100px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-left: 350px;
    padding-top: 120px;
}

.aikiHeader {
    position: absolute;
    height: 600px;
    top: 70px;
    left: 50px;
}

.aikido {
    margin: 40px;
    /*  height: 350px;*/
}

.aikidoImg {
    float: right;
    width: 170px;
    height: 350px;
}

.aikido h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 60px;
    text-align: center;
}

.aikido p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.sensei {
    clear: both;
    background-color: rgb(243, 243, 243);
    /*  padding: 50px;*/
    /* margin-bottom: 50px;*/
    /*  min-height: 370px;*/
    height: 100%;
}

.uesibaImg,
.saitoImg {
    width: 250px;
    height: 350px;
}

.uesibaImg {
    float: left;
}

.uesiba,
.saito {
    /*  float: left;*/
    /*  width: 582px;*/
    padding: 50px;
    /*  margin-left: 40px;*/
    background-color: rgb(243, 243, 243);
    clear: both;
}

.uesiba h3 {
    padding-top: 30px;
    padding-left: 270px;
}

.uesiba p {
    padding-left: 270px;
    margin-top: 20px;
    /*   padding-right: 40px;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.saitoImg {
    float: right;
}

.saitoImg:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.uesibaImg:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.saito h3 {
    padding-top: 30px;
    padding-left: 10px;
}

.saito p {
    margin-top: 20px;
    padding-right: 270px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 200px;
}

.about {
    margin: 50px;

}

.your-class {
    width: 600px;
    display: block;
    margin: auto;
    padding-top: 50px;
}

#about h3 {
    margin-left: 40px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 40px;
}

#about p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 40px;
}

#instructors {
    background-color: rgb(243, 243, 243);
    height: 450px;
}

#instructors h3 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 60px;
    padding-left: 90px;
    text-align: center;
}

#instructors p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 60px;
    padding-left: 370px;
    padding-right: 30px;
}


.instructorImg {
    width: 200px;
    float: left;
    margin-left: 90px;
    margin-top: 30px;
}

.instructorImg:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


#schedule {
    padding: 40px;
    /*  padding-right: 40px;*/
}

#schedule h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.scheduleList {
    /*  height: 350px;*/
    text-align: center;
}

.scheduleList h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.scheduleList p {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.children,
.teens,
.adult {
    box-shadow: 1px 1px 1px 0px #383838;
    width: 330px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 47px;
}

/*.children {
    margin-left: 100px;
}

.teens,
.adult {
    margin-left: 40px;
}*/

.children:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.teens:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.adult:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


/* расписание таблицей */

/*table {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: auto;
    margin-bottom: 40px;
}

th {
    padding: 20px;
    text-align: left;
}

td {
    vertical-align: middle;
    padding: 0 20px;
    text-align: left;
}*/

#contacts {
    background-color: rgb(243, 243, 243);
    /*  height: 550px;*/
}

#contacts h2 {
    /*   color: #ffffff;*/
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
    /*  margin-bottom: 10px;*/
}

.contact {
    /*  padding-left: 150px;
    padding-right: 150px;*/
    text-align: center;
    /*    margin-left: 200px;*/
    /*    display: flex;
    align-items: center;*/
}

.contact img {
    margin-top: 49px;
}

.contact h4 {
    margin-top: 80px;
    text-transform: uppercase;
}

.contact p {
    margin-top: 25px;
}

.phone {
    background: url(../img/phone.jpg) no-repeat;
}

.address {
    background: url(../img/address.jpg) no-repeat;
}

.mail {
    background: url(../img/mail.jpg) no-repeat;
}

.phone,
.address,
.mail {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    width: 280px;
    height: 330px;
    /*    margin-left: 20px;
    margin-right: 20px;
    */
    /*   float: left;*/
    display: inline-block;
    vertical-align: middle;
    margin: 47px;

}

/*.address,
.mail {
    margin-left: 40px;
}*/

/*.phone:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.address:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.mail:hover {
    transform: scale(1.1);
    transition: 0.5s;
}*/

.mail img {
    margin-top: 58px;
}

.mail h4 {
    margin-top: 89px;
}

.contact_form {
    padding-top: 50px;
    background-color: rgb(0, 0, 0);

}

form {}

fieldset {
    border: none;
    /* padding: 0 200px;*/
    width: 937px;
    margin: 0 auto;

}

input {
    border: 1px solid rgb(216, 220, 224);
    width: 285px;
    height: 39px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 10px;
    background-color: rgb(243, 243, 243);
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0;
}


input:nth-child(2) {
    margin: 0 18px;
}

input[placeholder] {}

textarea {
    border-width: 1px;
    border-color: rgb(216, 220, 224);
    border-style: solid;
    width: 926px;
    height: 188px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 10px;
    padding-top: 15px;
    background-color: rgb(243, 243, 243);

}

input[type=submit] {
    background: rgb(248, 92, 55);
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
    /*  margin-right: 210px;*/
}

input[type=submit]:hover {
    background: rgb(234, 67, 53);
}


footer {
    background-color: rgba(0, 0, 0, 0.85);
    /*  height: 40px;*/
}

.copyright p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    padding: 15px 0;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.1;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url(../img/icon_top.png) no-repeat;
}


@media only screen and (max-width: 1224px) {
    /* стили */
    header h1 {
        font-size: 55px;
        line-height: 90px;
    }

    .aikiHeader {
        height: 550px;
    }

    .saito p {
        padding-bottom: 150px;
    }

    fieldset {
        width: 727px;
    }

    input {
        width: 726px;
        margin: 20px 0;
    }

    input:nth-child(2) {
        margin: 20px 0;
    }

    textarea {
        width: 726px;
        margin: 20px 0;
    }

    input[type=submit] {
        width: 326px;
    }
}

@media only screen and (max-width: 800px) {
    /* стили */
    header h1 {
        font-size: 45px;
        line-height: 70px;
        margin-left: 220px;
        padding-top: 150px;
    }

    .aikiHeader {
        height: 400px;
        top: 150px;
        left: 40px;
    }

    .saito p {
        padding-bottom: 50px;
    }

    .clubPhoto {
        width: 500px;
    }

    fieldset {
        width: 502px;
    }

    input {
        width: 500px;
        margin: 20px 0;
    }

    input:nth-child(2) {
        margin: 20px 0;
    }

    textarea {
        width: 500px;
        margin: 20px 0;
    }

    input[type=submit] {
        width: 300px;
    }

}

/*@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    header h1 {
        font-size: 35px;
        line-height: 50px;
        margin-left: 220px;
        padding-top: 150px;
    }

    .aikiHeader {
        display: none;
    }

    .saito p {
        padding-bottom: 30px;
    }

    .clubPhoto {
        width: 280px;
    }


}*/
