@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Open+Sans:300,400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
    border: 1px solid gray;
}

header {
    /*    height: 920px;*/
    height: 755px;

}

.navBar {
    width: 1026px;
    height: 42px;
    padding: 21px 140px 22px 134px;
}

.banner {
    background: rgba(0, 0, 0, 0.29) url(../img/Layer_15.jpg);
    background-blend-mode: darken;
    height: 570px;
}

.logo {
    float: left;
}

.menu {
    float: left;
    margin-left: 121px;
}

.menu a {
    text-decoration: none;
    width: 520px;
    height: 11px;
    opacity: 0.67;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    line-height: 42px;
    padding-right: 20px;
}

.logIn a {
    display: block;
    width: 100px;
    height: 37px;
    background-color: #add136;
    opacity: 0.81;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
    border-radius: 30px;
    opacity: 0.81;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    float: right;
}

h1 {
    display: block;
    margin: 0 auto;
    padding-top: 169px;
    text-align: center;
    width: 899px;
    height: 102px;
    color: #ffffff;
    font-size: 49px;
    font-weight: 400;
    line-height: 64px;
    font-weight: 600;
}

.banner span {
    font-size: 35px;
    font-weight: 300;
}

.banner img {
    opacity: 0.29;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28)";
    margin-top: -417px;
}

.signUp {
    margin-top: 59px;
}

.signUp a {
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    width: 254px;
    height: 73px;
    background-color: #99c50a;

    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
    line-height: 77px;
    text-align: center;
}

.arrows {
    float: right;
    width: 58px;
    margin-right: 140px;
    margin-top: -100px;
}

.arrow2 {
    padding-left: 27px;
}

.ourCapabilities img {
    display: block;
    margin: 0 auto;
}

h3 {
    display: block;
    margin: 30px auto;
    width: 505px;
    color: #515151;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

p {
    padding: 30px 190px;
    width: 920px;
    opacity: 0.71;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
    color: #515151;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.tabs {
    padding: 50px 160px;
    width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tabs .circleImg {
    float: left;
}

.tabHead a {
    text-decoration: none;
}

.circleImg {
    width: 43px;
    height: 43px;
    background: #5f5f5f;
    border-radius: 23px;
}

.active {
    background: #add136;
    border-bottom: 1px solid #add136;
}

.circleImg img {
    padding-left: 17px;
    padding-top: 13px;
    text-align: center;
}

h2 {
    color: #656565;
    font-size: 33px;
    font-weight: 300;
    padding-left: 70px;
}

hr {
    width: 980px;
    height: 1px;
    opacity: 0.23;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=23)";
    margin: 0 auto;
}

.tabContent {
    padding: 50px 160px;
}

.tabContent img {
    float: left;
    margin-left: 89px;
    margin-top: 20px;
}

.tabContent p {
    width: 650px;
    opacity: 0.67;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
    color: #606060;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    margin-left: 115px;
}

h4 {
    color: #add136;
    font-size: 25px;
    font-weight: 400;
    margin-left: 305px;
}

/*join section*/

.join {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 320px 1fr 249px 1fr;
    grid-template-columns: 320px 1fr 249px 1fr;

}

.findProperties.part1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.findProperties.part2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.findBuyers.part1 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.findBuyers.part2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.findProperties {
    background-color: #e2f8ff;
}

.findBuyers {
    background-color: #f5f9eb;
}

.findProperties img {
    margin-left: 141px;
    margin-top: 84px;
}

.findBuyers img {
    margin-left: 76px;
    margin-top: 96px;
}

.join h4 {
    color: #515151;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

.join p {
    width: 256px;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 0;
    text-align: left;
    padding-top: 35px;
}

.findProperties a {
    display: block;
    width: 187px;
    height: 51px;
    background-color: #26a6d1;
    color: #ffffff;
    font-size: 15px;
    line-height: 51px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 47px;
    border-radius: 15px;
}

.findBuyers a {
    display: block;
    width: 187px;
    height: 51px;
    background-color: #add136;
    color: #ffffff;
    font-size: 15px;
    line-height: 51px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 47px;
    border-radius: 15px;
}

.projectsHead {
    margin: 80px 160px;
}

.projectsHead h3 {
    color: #515151;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.projectsHead p {
    width: 672px;
    color: #8f8f8f;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin-top: 26px;
    display: inline-block;
}

.projectsHead a {
    float: right;
    width: 181px;
    height: 50px;
    border: 1px solid #515151;
    background-color: #ffffff;
    opacity: 0.42;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
    border-radius: 15px;
    /* Style for "Become a M" */
    opacity: 0.71;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
    color: #515151;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

.allProjects {
    padding: 66px 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background-color: #f7f7f7;
    border-radius: 15px;
    position: relative;
}

.corner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.priceTag {
    position: absolute;
    right: 18px;
    top: 176px;
    z-index: 1;
    width: 139px;
    height: 35px;
    background: #26a6d1;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;
    padding-left: 10px;
    font-weight: 400;
}

.priceTag span {
    font-weight: 700;
}

.textBlock {
    padding: 30px 25px;
}

h6 {
    color: #484848;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 17px;
}

.textBlock img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.percent {
    float: left;
}

.days {
    float: right;
}

img.arrow {
    margin: 0;
    float: right;
    padding-top: 3px;
}

p.details {
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    color: #484848;
    width: 230px;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    text-align: right;
    display: inline-block;
    line-height: 16px;
}

.beOurPart {
    background: url(../img/bg.jpg) no-repeat;
    background-position: 0 -50px;
}

.beOurPart h3 {
    width: 875px;
    color: #9ec02d;
    font-size: 39px;
    font-weight: 400;
}

.beOurPart p {
    width: 912px;
    color: #949494;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 77px 178px 60px;
}

.review {
    width: 397px;
}

.reviewText {
    background: url(../img/Rounded_Rectangle_12.png) no-repeat;
    height: 130px;
    padding: 25px 40px;
}

.reviewText h5 {
    color: #9ec02d;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.reviewText p {
    width: 319px;
    color: #848484;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    margin-top: 22px;
}

.reviewPerson {
    margin-left: 43px;
}

.reviewPerson img {
    float: left;
}

.reviewPerson p {
    width: 205px;
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    padding-left: 9px;
    line-height: 60px;
}

.companyLinks img {
    display: block;
    margin: 45px auto;
}

.footerCopy p {
    color: #848484;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    margin: 25px auto;
}
