* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    padding: 0;
}

/*header*/

header {
    background-color: #445162;
    padding: 50px;
    position: relative;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 50px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.list {
    list-style-image: url(../img/check_icon.png);
    margin-top: 45px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.alania {
    float: right;
    width: 100%;
}

.textPhoto {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    font-style: italic;
    position: absolute;
    top: 60px;
    right: 70px;
}

@media (max-width: 991px) {
    .alania {
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    header {
        padding: 30px;
    }
    .alania {
        margin-top: 35px;
    }
}

/*about section*/

.about {
    padding: 50px;
    background-color: #ffffff;
}

h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.about p {
    margin-top: 30px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.videoImg {
    float: right;
    width: 100%;
    height: 245px;
}

.about:after {
    content: '';
    clear: both;
    display: block;
}

@media (max-width: 991px) {
    .videoImg {
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 30px;
    }
    .videoImg {
        margin-top: 35px;
    }
}

/*dignity section*/

.dignity {
    padding: 50px;
}

.dignity:after {
    content: '';
    clear: both;
    display: block;
}

.dignity h3 {
    text-align: center;
}

.pluses {
    list-style-type: none;
}

.pluses li {
    /*    width: calc(50% - 8px);*/
    float: left;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    padding-left: 40px;
    background: url(../img/plus_icon.jpg) no-repeat left 5px;
    box-sizing: border-box;
    text-align: justify;
}

/*
.pluses li:nth-child(odd) {
    margin-right: 8px;
}

.pluses li:nth-child(even) {
    margin-left: 8px;
}

.pluses li:nth-child(-n+2) {
    margin-top: 0;
}
*/

@media (max-width: 767px) {
    .dignity {
        padding: 30px;
    }
}

/*scrinshots section*/

.scrinshots {
    padding: 50px;
    background-color: #ffffff;
}

.scrinshots:after {
    content: '';
    clear: both;
    display: block;
}

.scrinshots h3 {
    text-align: center;
    margin-bottom: 35px;
}

.screenshotUnit {
    float: left;
}

.screenshotUnit[class^="col"]:nth-child(n+3) {
    margin-top: 30px;
}

.screenshotUnit img {
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 15px;
}

.screenshotUnit h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}

.screenshotUnit p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
    text-align: justify;
}

@media (max-width: 991px) {
    .screenshotUnit[class^="col"]:nth-child(n+2) {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .scrinshots {
        padding: 30px;
    }
    .screenshotUnit img {
        float: none;
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
    .screenshotUnit h4 {
        margin-top: 35px;
    }
}

/*rewiew section*/

.reviews {
    padding: 50px;
}

.reviews:after {
    content: '';
    clear: both;
    display: block;
}

.reviews h3 {
    text-align: center;
    margin-bottom: 35px;
}

.review {
    float: left;
    margin-top: 30px;
}

.userpic {
    float: left;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-right: 16px;
}

.rew_text {
    background-color: #ebebeb;
    margin-left: 100px;
    padding: 16px;
    position: relative;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
}

.rew_text:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background-color: #ebebeb;
    transform: rotate(45deg);
}

.nick {
    margin-top: 15px;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

@media (max-width: 767px) {
    .reviews {
        padding: 30px;
    }
    .userpic {
        float: none;
        margin-right: 0;
    }
    .rew_text {
        margin-left: 0;
        margin-top: 30px;
    }
    blockquote {
        margin: 0;
    }
}

/*buyItNow section*/

.buyItNow {
    padding: 50px;
    background-color: #ffffff;
}

.buyItNow h3 {
    text-align: center;
}

.buyItNow h4 {
    color: #ffffff;
    height: 51px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 16px;
    text-align: center;
}

.buyItNow p {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.buyItNow a {
    display: block;
    margin: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    text-align: center;
}

.list_tarif {
    margin-left: 40px;
    margin-top: 19px;
}

.list_tarif li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.price {
    background-color: #ffffff;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 107px;
    border: 1px solid #445162;
}

.buyUnits {
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 29px;
}

.standart,
.premium,
.lux {
    background-color: #445162;
    width: 300px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .buyItNow {
        padding: 50px 20px;
    }
    .buyUnits {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .buyUnits {
        width: 100%;
        flex-direction: column;
    }
    .standart,
    .premium,
    .lux {
        width: 100%;
    }
    .premium,
    .lux {
        margin-top: 30px;
    }
    .buyItNow p {
        text-align: center;
    }
    .price {
        padding-left: 0;
    }
    .buyItNow a {
        /*    display: block;*/
        margin: 20px auto;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .buyItNow {
        padding: 30px;
    }
}

/*contacts section*/

.contacts {
    padding: 50px;
    background-color: #445162;
}

.contacts:after {
    content: '';
    clear: both;
    display: block;
}

.contacts h3 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.contactContent {
    width: 785px;
    margin: 0 auto;
    padding-top: 31px;
}

.contactForm {
    float: left;
}

input,
textarea {
    border-radius: 5px;
    background-color: #ffffff;
    width: 490px;
    margin-bottom: 20px;
}

input {
    height: 37px;
}

textarea {
    height: 170px;
}

input[placeholder],
textarea[placeholder] {
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

textarea[placeholder] {
    padding-top: 13px;
}

input[type=submit] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 180px;
    cursor: pointer;
}

.social {
    float: right;
}

.social > div:not(.socialButtons) {
    margin-bottom: 15px;
}

.social a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.socialButtons {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .contactContent {
        width: 100%;
    }
    .contactForm,
    .social {
        float: none;
    }
    input,
    textarea {
        width: 100%;
    }
    input[type=submit] {
        float: right;
    }
    .social {
        margin-top: 80px;
    }
}

@media (max-width: 767px) {
    .contacts {
        padding: 30px;
    }
}

/*footer*/

footer {
    background-color: #ffffff;
}

.copyright p {
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
}
