@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 10px 0 30px;
  }
}
.headerTopMenu {
  background-color: white;
}
.headerTopMenu .logo {
  height: 37px;
  width: 60px;
  border-radius: 50px;
  background-color: red;
  float: left;
  margin-top: 16px;
}
@media (max-width: 1199px) {
  .headerTopMenu .logo {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .headerTopMenu .logo {
    display: none;
  }
}
.headerTopMenu .topMenu {
  margin-left: 120px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .headerTopMenu .topMenu {
    margin-left: 150px;
  }
}
@media (max-width: 767px) {
  .headerTopMenu .topMenu {
    margin-left: 20px;
  }
}
@media (max-width: 575px) {
  .headerTopMenu .topMenu {
    width: 300px;
    margin: 0 auto;
  }
}
.headerTopMenu .topMenu a {
  text-decoration: none;
  color: black;
  font-style: italic;
  line-height: 70px;
}
.headerInside {
  background-color: lightgray;
}
.headerInside .headerLinks {
  float: right;
  transform: skewX(-20deg);
  background-color: white;
  padding: 0 35px 25px;
  margin-right: 25px;
}
@media (max-width: 991px) {
  .headerInside .headerLinks {
    float: none;
    background-color: lightgray;
    transform: none;
    padding: 25px 15px 25px;
    margin-right: 0;
    display: flex;
    justify-content: space-around;
  }
}
.headerInside .headerLinks a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 35px;
}
@media (max-width: 991px) {
  .headerInside .headerLinks a {
    display: inline-block;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
  }
}
.headerInside h1 {
  padding-top: 50px;
  padding-left: 20px;
  width: 400px;
  font-size: 58px;
  text-transform: uppercase;
  font-style: italic;
}
@media (max-width: 1199px) {
  .headerInside h1 {
    font-size: 50px;
    margin-left: 30px;
  }
}
@media (max-width: 991px) {
  .headerInside h1 {
    font-size: 46px;
  }
}
@media (max-width: 575px) {
  .headerInside h1 {
    font-size: 34px;
    margin: 0;
    width: 90%;
  }
}
.headerInside .headerInsideLinks {
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .headerInside .headerInsideLinks {
    margin-left: 60px;
  }
}
@media (max-width: 575px) {
  .headerInside .headerInsideLinks {
    margin-left: 0;
  }
}
.headerInside .headerInsideLinks a {
  display: block;
  width: 300px;
  height: 50px;
  transform: skewX(-20deg);
  text-decoration: none;
  line-height: 50px;
  padding-left: 20px;
}
@media (max-width: 575px) {
  .headerInside .headerInsideLinks a {
    width: 250px;
    margin: 0 auto;
  }
}
.headerInside .headerInsideLinks .registrationLink {
  background-color: red;
  color: white;
}
.headerInside .headerInsideLinks .aboutCar {
  margin-top: 10px;
  background-color: white;
  color: black;
}
.registration {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.registration .registrationInside {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registration .registrationInside .logoRaw4 {
  margin-left: 30px;
  width: 230px;
  transform: skewX(-20deg);
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
@media (max-width: 1199px) {
  .registration .registrationInside .logoRaw4 {
    border-left: none;
  }
}
@media (max-width: 575px) {
  .registration .registrationInside .logoRaw4 {
    border-right: none;
    margin: 0 auto;
  }
}
.registration .registrationInside .logoRaw4 .logoImage {
  width: 130px;
  height: 100px;
  background-color: gray;
  margin-left: 50px;
}
.registration .registrationInside .timer {
  font-weight: 700;
  text-align: center;
  transform: skewX(-20deg);
}
@media (max-width: 767px) {
  .registration .registrationInside .timer {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .registration .registrationInside .timer {
    margin: 50px auto;
  }
}
.registration .registrationInside .timer span {
  color: red;
}
.registration .registrationInside .timer .countdown {
  font-weight: 400;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.registration .registrationInside .timer .countdown .countdownUnit {
  width: 150px;
}
@media (max-width: 767px) {
  .registration .registrationInside .timer .countdown .countdownUnit {
    width: 100%;
  }
}
.registration .registrationInside .timer .countdown .countdownUnit span {
  font-size: 60px;
  color: black;
  font-weight: 700;
}
@media (max-width: 767px) {
  .registration .registrationInside .timer .countdown .countdownUnit span {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .registration .registrationInside .timer .countdown .countdownUnit span {
    font-size: 30px;
    margin-left: 10px;
  }
}
.registration .registrationInside .timer .countdown .countdownUnit:nth-child(-n+2) {
  border-right: 1px solid lightgray;
}
.registration .registrationInside .registrationButton {
  margin-right: 50px;
  margin-top: 45px;
  transform: skewX(-20deg);
}
@media (max-width: 575px) {
  .registration .registrationInside .registrationButton {
    margin: 0 auto;
  }
}
.registration .registrationInside .registrationButton .black {
  background-color: black;
  color: white;
  display: block;
  width: 300px;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  padding-left: 20px;
}
@media (max-width: 1199px) {
  .registration .registrationInside .registrationButton .black {
    margin-left: 50px;
  }
}
@media (max-width: 575px) {
  .registration .registrationInside .registrationButton .black {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 1199px) {
  .information {
    margin: 0 20px;
  }
}
.information h3 {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .information h3 {
    font-size: 32px;
  }
}
.information .infoUnits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
@media (max-width: 575px) {
  .information .infoUnits {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
.information .infoUnits .informationUnit {
  height: 210px;
  transform: skewX(-20deg);
}
.information .infoUnits .informationUnit .unitImage {
  height: 160px;
  background-color: gray;
}
.information .infoUnits .informationUnit .infoName {
  background-color: black;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
.information .infoUnits .informationUnit .infoName a {
  color: white;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .callBack {
    margin: 0 20px;
  }
}
.callBack h3 {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  padding-bottom: 30px;
}
@media (max-width: 575px) {
  .callBack h3 {
    font-size: 32px;
  }
}
.callBack p {
  font-weight: 700;
  padding-left: 20px;
}
.callBack .contactInfo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 40px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 20px;
}
.callBack .contactInfo div {
  padding-top: 30px;
}
.callBack .contactInfo div input {
  margin-top: 20px;
  min-width: 250px;
  height: 50px;
  transform: skewX(-20deg);
  text-decoration: none;
  line-height: 50px;
  padding-left: 20px;
  outline: none;
}
.callBack .agreement {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 300;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid lightgray;
}
.callBack input[type=button] {
  margin-top: 20px;
  width: 160px;
  height: 50px;
  transform: skewX(-20deg);
  text-decoration: none;
  line-height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 50px;
}
