@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 768px) and (max-width: 991px) {
        padding: 0 10px 0 30px;
    }
}

.headerTopMenu {
    background-color: white;

    .logo {
        height: 37px;
        width: 60px;
        border-radius: 50px;
        background-color: red;
        float: left;
        margin-top: 16px;

        @media (max-width: 1199px) {
            margin-left: 30px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    .topMenu {
        margin-left: 120px;
        width: 380px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1199px) {
            margin-left: 150px;
        }

        @media (max-width: 767px) {
            margin-left: 20px;
        }

        @media (max-width: 575px) {
            width: 300px;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: black;
            font-style: italic;
            line-height: 70px;
        }
    }
}

.headerInside {
    background-color: lightgray;

    .headerLinks {
        float: right;
        transform: skewX(-20deg);
        background-color: white;
        padding: 0 35px 25px;
        margin-right: 25px;

        @media (max-width: 991px) {
            float: none;
            background-color: lightgray;
            transform: none;
            padding: 25px 15px 25px;
            margin-right: 0;
            display: flex;
            justify-content: space-around;
        }

        a {
            display: block;
            text-decoration: none;
            color: black;
            line-height: 35px;

            @media (max-width: 991px) {
                display: inline-block;
                color: white;
                padding: 0 10px;
                margin: 0 auto;
            }
        }
    }

    h1 {
        padding-top: 50px;
        padding-left: 20px;
        width: 400px;
        font-size: 58px;
        text-transform: uppercase;
        font-style: italic;

        @media (max-width: 1199px) {
            font-size: 50px;
            margin-left: 30px;
        }

        @media (max-width: 991px) {
            font-size: 46px;
        }

        @media (max-width: 575px) {
            font-size: 34px;
            margin: 0;
            width: 90%;
        }
    }

    .headerInsideLinks {
        margin-top: 30px;
        margin-left: 30px;
        padding-bottom: 120px;

        @media (max-width: 1199px) {
            margin-left: 60px;
        }

        @media (max-width: 575px) {
            margin-left: 0;

        }

        a {
            display: block;
            width: 300px;
            height: 50px;
            transform: skewX(-20deg);
            text-decoration: none;
            line-height: 50px;
            padding-left: 20px;

            @media (max-width: 575px) {
                width: 250px;
                margin: 0 auto;
            }
        }

        .registrationLink {
            background-color: red;
            color: white;
        }

        .aboutCar {
            margin-top: 10px;
            background-color: white;
            color: black;
        }
    }
}

.registration {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: 1px solid lightgray;

    .registrationInside {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .logoRaw4 {
            margin-left: 30px;

            width: 230px;
            transform: skewX(-20deg);

            border-right: 1px solid lightgray;
            border-left: 1px solid lightgray;

            @media (max-width: 1199px) {
                border-left: none;
            }

            @media (max-width: 575px) {
                border-right: none;
                margin: 0 auto;
            }

            .logoImage {
                width: 130px;
                height: 100px;
                background-color: gray;
                margin-left: 50px;
            }
        }

        .timer {
            font-weight: 700;
            text-align: center;
            transform: skewX(-20deg);


            @media (max-width: 767px) {
                margin-top: 50px;
            }

            @media (max-width: 575px) {
                margin: 50px auto;
            }

            span {
                color: red;
            }

            .countdown {
                font-weight: 400;
                margin-top: 10px;
                display: flex;
                justify-content: space-around;

                .countdownUnit {
                    width: 150px;

                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    span {
                        font-size: 60px;
                        color: black;
                        font-weight: 700;

                        @media (max-width: 767px) {
                            font-size: 40px;
                        }

                        @media (max-width: 575px) {
                            font-size: 30px;
                            margin-left: 10px;
                        }

                    }
                }

                .countdownUnit:nth-child(-n+2) {
                    border-right: 1px solid lightgray;
                }
            }
        }

        .registrationButton {
            margin-right: 50px;
            margin-top: 45px;
            transform: skewX(-20deg);

            @media (max-width: 575px) {
                margin: 0 auto;
            }

            .black {
                background-color: black;
                color: white;
                display: block;
                width: 300px;
                height: 50px;
                text-decoration: none;
                line-height: 50px;
                padding-left: 20px;

                @media (max-width: 1199px) {
                    margin-left: 50px;
                }

                @media (max-width: 575px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}


.information {
    @media (max-width: 1199px) {
        margin: 0 20px;
    }

    h3 {
        padding-top: 50px;
        padding-left: 20px;
        font-size: 50px;
        text-transform: uppercase;
        font-style: italic;
        padding-bottom: 30px;

        @media (max-width: 575px) {
            font-size: 32px;
        }

    }

    .infoUnits {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 30px;
        margin-left: 35px;
        margin-right: 35px;

        @media (max-width: 575px) {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }

        .informationUnit {
            height: 210px;
            transform: skewX(-20deg);

            .unitImage {
                height: 160px;
                background-color: gray;
            }

            .infoName {
                background-color: black;
                font-size: 24px;
                text-align: center;
                line-height: 40px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.callBack {
    @media (max-width: 1199px) {
        margin: 0 20px;
    }

    h3 {
        padding-top: 50px;
        padding-left: 20px;
        //        width: 400px;
        font-size: 50px;
        text-transform: uppercase;
        font-style: italic;
        padding-bottom: 30px;

        @media (max-width: 575px) {
            font-size: 32px;
        }
    }

    p {
        font-weight: 700;
        padding-left: 20px;

    }

    .contactInfo {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 40px;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 20px;

        div {
            padding-top: 30px;

            input {
                margin-top: 20px;
                min-width: 250px;
                height: 50px;
                transform: skewX(-20deg);
                text-decoration: none;
                line-height: 50px;
                padding-left: 20px;
                outline: none;
            }
        }
    }

    .agreement {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 300;
        height: 100px;
        overflow-y: scroll;
        border: 1px solid lightgray;
    }

    input[type=button] {
        margin-top: 20px;
        width: 160px;
        height: 50px;
        transform: skewX(-20deg);
        text-decoration: none;
        line-height: 50px;
        background-color: black;
        color: white;
        font-size: 18px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: 50px;
    }
}
